// some variables

$background: #fff;
$text: #333;
$breakpoint: 600em / 16;
$betterHelvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
