<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/main.css">
        <script type="text/javascript" src="http://localhost:48626/takana.js"></script>
    </head>
    <body>


        <h1 class="pageTitle"><a href="">{{title}}</a></h1>

        <main>

            <ul class="cardList">
                {{#work}}
                    <li class="card">
                        <a class="imageGroup" href="" style="background-image: url('img/projects/{{shortcode}}/{{frontImage}}');" alt="{{name}}"></a>
                        <div class="textGroup">
                            <h2><a href="">{{name}}</a></h2>
                            <p class="date">{{datestring}}</p>
                            <p class="summary">{{teaser}}</p>
                            <ul class="tags">
                                {{#tags}}
                                    <li><a href="">{{.}}</a></li>
                                {{/tags}}
                            </ul>
                        </div>
                    </li>
                {{/work}}
            </ul>

        </main>


    </body>
</html>
