<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Bill Brown's Archives</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/main.css">
        <script type="text/javascript" src="http://localhost:48626/takana.js"></script>
    </head>
    <body>


        <h1 class="pageTitle"><a href="">Bill Brown's Archives</a></h1>

        <main>

        <h2>Test: {{greeting}}, {{target}}!</h1>

            <ul class="cardList">

            
                <li class="card">
                    <div class="imageGroup">
                        <a href="">
                            <img src="img/projects/stuffedrobots/robots-angrybot1.jpg" alt="stuffedrobots"/>
                        </a>
                    </div>
                    <div class="textGroup">
                        <h2><a href="">Stuffed Robots</a></h2>
                        <p class="date">February 2010</p>
                        <p class="summary">Stuffed robots are a thing I made with some people.</p>
                        <ul class="tags">
                            <li><a href="">Sculpture</a></li>
                            <li><a href="">Plush</a></li>
                            <li><a href="">Business</a></li>
                        </ul>
                    </div>
                </li>


            </ul>
        </main>


    </body>
</html>
