// cards

$card-bp: 500px;

.card {
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	@extend .clearfix;
	margin-bottom: 20px;

	@media (min-width: $card-bp) {
		display: flex;
	}

	.imageGroup {
		position: relative;
		background-size: cover;
		background-position: center center;
		width: 100%;
		height: 150px;
		display: block;

		@media (min-width: $card-bp) {
			height: auto;
			min-width: 200px;
			width: 200px;
		}
	}

	img {
		margin-bottom: -3px;
	}

	.textGroup {
		padding: 18px;
	}

	.summary {
		margin-bottom: 12px;
		line-height: 1.35;
	}

	h2,
	.date {
		margin-bottom: 8px;
	}
}